* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #444444;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

header, footer {
    background-color: white;
}

header nav {
    padding: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

header nav a img {
    height: 3.5rem;
}

main {
    width: 100%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

main h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

main section {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

main section h2 {
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
}

main section p {
    color: white;
    font-size: 1.1rem;
    text-indent: 1.5rem;
    text-align: justify;
}

main section img {
    height: 20rem;
    border-radius: 50%;
}

.sobre-mim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;  
}

main section ul {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

main section ul li {
    color: white;
    font-size: 1.1rem;
    text-align: justify;
}

.projetos-section {
    width: 100%;
}

.projetos-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.projetos-container a {
    color: black;
    text-decoration: none;
}

.projetos {
    width: 22rem;
    height: 16rem;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.465);
    border-radius: 6px;
    transition: all ease-in-out .3s;
}

.projetos:hover {
    transform: scale(1.05);
}

.projetos img {
    width: 100%;
    height: 75%;
    border-radius: 6px 6px 0 0;
}

.projetos h3 {
    margin: 1rem 0;
    text-align: center;
}

section form {
    width: 100%;
    padding: 2rem 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.465);
    border-radius: 10px;
}

section form fieldset {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    border: none;
}

section form fieldset label {
    width: 100%;
    font-size: 1.2rem;
}

section form fieldset input {
    width: 100%;
    height: 2.5rem;
    padding: .1rem .5rem;
    font-size: 1.2rem;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    transition: all ease-in-out .1s;
}

section form fieldset input:focus {
    border-color: rgba(32, 32, 255, 0.404);
}

section form fieldset textarea {
    width: 100%;
    height: 10rem;
    padding: .5rem .5rem;
    font-size: 1.2rem;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    transition: all ease-in-out .1s;
}

section form fieldset textarea:focus {
    border-color: rgba(32, 32, 255, 0.404);
}

footer {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -5rem;
}

footer p {
    font-size: 1.2rem;
    font-weight: 600;
}

footer p a {
    text-decoration: none;
    color: black;
}

footer p a:hover {
    text-decoration: underline;
}

.contato-footer {
    bottom: 0;
}

@media screen and (min-width: 768px) {
    
    main {
        width: 80%;
    }

    footer {
        bottom: -5rem;
    }

    .projetos-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

}

@media screen and (min-width: 800px) {
    
    footer {
        bottom: 0;
    }

}


@media screen and (min-width: 1280px) {

    main {
        width: 100%;
    }

    main h1 {
        font-size: 2.5rem;
    }

    main section {
        width: 45%;   
    }

    main section h2 {
        font-size: 2.1rem;
    }
    
    main section p {
        font-size: 1.3rem;
        text-indent: 2.3rem;
    }

    .sobre-mim {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    main section ul {
        width: 70%;
        gap: 1.2rem;
    }
    
    main section ul li {
        font-size: 1.4rem;
    }

    footer {
        bottom: -4rem;
    }

    .projetos-footer {
        bottom: 0;
    }

}